@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    height: 100%;
}

body {
    /* height: 100%; */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:
        linear-gradient(to bottom right,
            hsl(330, 100%, 49.02%),
            rgb(28, 92, 156));
}

h1 {
    color: white;
    margin-left: 10px;
}

button {
    width: 250px;
    height: 100px;
    /* background-color: rgb(255, 255, 244); */
    border-radius: 10px;
    /* border-color: white; */
    border-width: 0;
    /* opacity: 95%; */
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
button:hover{
    box-shadow: 5px 5px 12px 2px rgb(192, 191, 191) inset;
    cursor: grab;
}

#btn2 {
    position: absolute;
    /* left: ; */
}

#buttons-init {
    margin-top: 20px;
    margin-left: 10px;
}
#good_choice_div{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 15px; 
}
#good_choice_close{
    display: inline;
    background-color: beige;
    padding: 3px;
    position: relative;
    top: -100px;
    /* left: 10px; */
    font-weight: 800;
    left: 99.7%;
    cursor: grab;
}